.homepage h1 span {
	color: lightblue;
}

.homepage h1 {
	font-size: 3rem;
}

.homepage {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 15% 10%;
}

.homepage h3 {
	margin-bottom: 50px;
	font-size: 2rem;
}
