.job-container {
	width: 100vw;
}

/* .job-container {
	display: flex;
	flex-direction: row;
	flex: wrap;
}

.job-card {
	width: 30%;
	padding: 25px;
	margin: auto;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
	border: 1px solid grey;
	border-radius: 12px;

	height: 250px;
	flex: 1 0 21%;
	margin: 5px;
}

.job-row {
	display: flex;
	flex-direction: row;
	flex: wrap;

	width: 100%;
	padding: 25px;
	margin: auto;
	margin-left: 2px;
	margin-right: 2px;
	text-align: left;
	border: 1px solid grey;
	border-radius: 12px;
	height: 250px;
} */
